
:root {
    color-scheme: dark;
    font-size: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html, body, #__next {
    height: 100%;
}

body {
    margin: unset;
}